@use '../../scss/mixins';

:root {
   --shadow-white: 255, 255, 255;
   --shadow-black: 0, 0, 0;
}

.form-wrapper {
   position: fixed;
   top: 50vh;
   left: 50vw;
   transform: translate(-50%, -50%);
   display: flex;
   box-sizing: border-box;
   flex-direction: column;
   background: var(--surface-container);
   background: var(--surface-bright);
   border-radius: 3rem;
   color: var(--on-surface);
   gap: 3vw;
   overflow: hidden;
   padding: 10vw 4vw 12vw;
   width: 94vw;
   text-align: center;
   align-items: center;
   box-shadow: 3rem 1rem 3rem 0 var(--scrim);
   z-index: 3;

   &__heading {
      font-size: 5vw;
      font-weight: 600;
      text-transform: uppercase;
   }

   &__description p {
      font-size: 3.5vw;
      margin: 2vw 0;
      &:last-of-type {
         font-weight: 600;
      }
   }

   &__after-text {
      font-size: 2.8vw;
      font-weight: 500;
      max-width: 92%;
   }

   .form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 3vw;
      width: 100%;
      margin: 1rem auto 2rem;

      &__input {
         padding: 0.8rem 1.2rem;
         border-bottom: 1px solid var(--scrim);
         text-align: left;
         font-size: 3.4vw;
         width: 100%;

         &:active {
            border-bottom: 1px solid var(--primary);
         }

         &::placeholder {
            color: grey;
         }
      }

      &__button-submit {
         color: var(--on-primary);
         background: var(--primary);
         border-radius: 2rem;
         font-size: 3.2vw;
         padding: 2.5vw;

         width: 100%;
         margin-top: 3vw;

         &:hover {
            opacity: 0.92;
         }
         &:active {
            opacity: 0.85;
         }
      }
   }

   .close-btn {
      position: absolute;
      width: 7vw;
      height: 7vw;
      top: 1.4rem;
      right: 1.4rem;
      display: block;
      background: transparent;
      cursor: pointer;
      border-radius: 0.4rem;
      overflow: hidden;
      svg rect {
         fill: var(--surface);
      }
      svg path {
         stroke: var(--on-surface);
      }
      &:hover {
         svg rect {
            fill: var(--outline);
         }
         svg path {
            stroke: var(--surface);
         }
      }
      &:active {
         opacity: 0.9;
      }
   }

   &.hidden {
      visibility: hidden;
      z-index: -99;
      .form__button-submit {
         pointer-events: none;
         background: var(--surface-container-highest);
         color: var(--outline);
      }
   }

   @include mixins.viewport-md {
      min-width: 80%;
   }

   @include mixins.viewport-lg {
      min-width: 50%;
   }

   @include mixins.viewport-xl {
      max-width: 80%;
      max-height: 98vh;

      .form {
         &__button-submit,
         &__input {
            width: 80%;
         }
      }
   }
   @include mixins.viewport-xxl {
      max-width: unset;
      &__after-text,
      &__description {
         max-width: 86%;
         p {
            font-size: 1.4rem;
         }
      }
   }
}
