@use 'mixins';

html {
   font-size: 8px;
   scroll-behavior: smooth;
   @include mixins.viewport-md {
      font-size: 10px;
   }
   @include mixins.viewport-xl {
      font-size: 12px;
   }
   @include mixins.viewport-xxl {
      font-size: 14px;
   }
}

.dark {
   color-scheme: dark;
}

.red {
   color: red !important;
}

body {
   font-family: 'Montserrat', sans-serif;
   // background: var(--surface);
   transition: background 0.2s ease, color 0.2s ease;
}

.container {
   margin: 0;
}

p,
button,
a,
li,
body {
   font-size: 1.625rem;

   @include mixins.viewport-lg {
      font-size: 1.4rem;
   }
   @include mixins.viewport-xl {
      font-size: 1.25rem;
   }
   @include mixins.viewport-xxl {
      font-size: 1.625rem;
   }
}

.inclined {
   transform: rotate(-5deg);
}

strong,
b {
   font-weight: 600;
}

s {
   text-decoration: line-through;
}

h1,
h2,
h3,
.title {
   font-family: 'Montserrat', sans-serif;
   font-size: 2.5rem;
   font-weight: 600;

   @include mixins.viewport-xl {
      font-size: 3rem;
   }
}

h4,
h5,
h6,
.subtitle {
   font-size: 2.4rem;
}

.footer {
   padding: 3rem 0;
   font-size: 1.625rem;

   a {
      text-decoration: none;
   }
}

button,
a {
   cursor: pointer;
}
