@use 'mixins';

.wrapper {
   position: relative;
   text-align: center;
   display: flex;
   flex-flow: column;
   position: relative;
   overflow: hidden;

   // background-color: var(--surface);

   // overflow-y: scroll;
   // scroll-snap-type: y mandatory;
   // -ms-scroll-snap-type: y mandatory;

   &-logo {
      width: 300px;
      height: 300px;
      display: inline-block;
      position: relative;
      margin-bottom: 3rem;

      @include mixins.viewport-md {
         width: 360px;
         height: 360px;
      }
   }

   &-logo-img {
      width: 100%;
      height: 100%;
   }
}

.toggle_theme-btn,
.top-btn {
   opacity: 0.3;
   position: absolute;
   right: 5%;
   font-size: 1.2rem;
   font-weight: 600;
   padding: 1rem;
   color: var(--primary);
   background-color: var(--on-primary);
   width: auto;
   cursor: pointer;
   border: 2px solid var(--primary) !important;
   transition: 0.2s ease;
   box-shadow: 3px 4px 10px -4px var(--inverse-surface);
   &:hover {
      opacity: 1;
   }
   @include mixins.viewport-xl {
      font-size: 1rem;
      padding: 0.5rem 1rem;
   }
}

.toggle_theme-btn {
   top: 1%;
   right: unset;
   border-top-right-radius: 3rem;
   border-bottom-right-radius: 3rem;
   width: 3.4rem;
   min-width: 20px;
   height: 40px;
   overflow: hidden;
   white-space: nowrap;
   text-align: right;

   &:not(:hover),
   &:not(:active) {
      font-size: 1.8rem;
      padding-left: 0.2rem;
      @include mixins.viewport-xl {
         font-size: 1.4rem;
         line-height: 1.2rem;
         padding: 0rem 1rem 0.2rem 0;
      }
   }

   &::before {
      content: '@';
   }

   &::after {
      position: absolute;
      display: block;
      content: '';
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: rgba($color: #000000, $alpha: 0.15);
   }

   &:hover::after,
   &:active::after {
      display: none;
   }

   &:hover,
   &:active {
      width: 130px;
      font-size: 1.2rem;
      padding: 1rem;
      &::before {
         content: 'Switch Theme @';
      }
      @include mixins.viewport-xl {
         font-size: 1.25rem;
         width: 200px;
         padding: 0.5rem 1rem;
      }
   }
}

.top-btn {
   position: fixed;
   bottom: 5%;
   min-width: 70px;
   width: fit-content;
   border-radius: 0.75rem;
   &:hover {
      border-radius: 2rem;
   }
}

.colored {
   color: var(--primary);
}
