@use 'mixins';

.wrapper {
   position: relative;
   text-align: center;
   display: flex;
   flex-flow: column;
   overflow: hidden;

   &-logo {
      width: 300px;
      height: 300px;
      display: inline-block;
      position: relative;
      margin-bottom: 3rem;

      @include mixins.viewport-md {
         width: 360px;
         height: 360px;
      }
   }

   &-logo-img {
      width: 100%;
      height: 100%;
   }
}

html .toggle_theme-btn {
   & > .sun-ico {
      display: none;
   }
   & > .night-ico {
      display: block;
   }
   .st0 {
      fill: rgba(255, 255, 255, 0.891);
      stroke: transparent;
   }
}

html.dark .toggle_theme-btn {
   & > .sun-ico {
      display: block;
   }
   & > .night-ico {
      display: none;
   }
   .st0 {
      fill: transparent;
      stroke: rgba(255, 255, 255, 0.891);
   }
}

.toggle_theme-btn {
   position: absolute;
   top: 3.5rem;
   left: unset;
   right: 4vw;
   border: 0;
   padding: 0;
   box-shadow: none;
   width: 5vw;
   height: 5vw;
   cursor: pointer;
   overflow: hidden;
   white-space: nowrap;
   text-align: left;

   transform: rotate(10deg);

   svg {
      width: 100%;
      height: 100%;
   }

   @include mixins.viewport-md {
      top: 3.5vw;
      width: 2.3rem;
      height: 2.3rem;

      left: unset;
      right: 5vw;
   }
   @include mixins.viewport-xxl {
      right: 2.5vw;
      width: 2.3vw;
      height: 2.3vw;
   }
}

.top-btn {
   font-size: 1.2rem;
   font-weight: 600;
   color: var(--primary-container);
   cursor: pointer;
   transition: 0.2s ease;
   &:hover {
      opacity: 1;
   }

   display: none;
   justify-content: center;
   align-items: center;
   position: fixed;
   bottom: 5vw;
   right: 2%;
   height: 4.2rem;
   width: 4.2rem;
   padding: 0;
   margin: 0;
   background: var(--primary-container);
   box-shadow: none;
   border-radius: 0.65rem;
   opacity: 0.4;
   z-index: 1;

   svg {
      margin: auto;
      height: 2.4rem;
      width: 2.4rem;
      color: var(--on-primary);
      fill: var(--on-primary);
      stroke: var(--on-primary);
   }

   svg g path {
      fill: var(--on-primary);
   }

   @include mixins.viewport-md {
      height: 4.2rem;
      width: 4.2rem;
      bottom: 2%;
      svg {
         height: 2.4rem;
         width: 2.4rem;
      }
   }
   @include mixins.viewport-lg {
      height: 6vw;
      width: 6vw;
      bottom: 2vw;
      border-radius: 1.05vw;
      svg {
         height: 3vw;
         width: 3vw;
      }
   }
   @include mixins.viewport-xl {
      bottom: 1vw;
   }
   @include mixins.viewport-xxl {
      border-radius: 0.5vw;
      height: 4vw;
      width: 4vw;
      bottom: 1.4vw;
      svg {
         height: 2.2vw;
         width: 2.2vw;
      }
   }
}

.cta {
   display: flex;
   align-items: center;
   opacity: 1;
   position: fixed;
   bottom: 0;
   width: 100%;
   height: 12rem;
   border-radius: 2rem 2rem 0 0;
   text-align: center;
   background: var(--primary-container);
   margin-top: -2.25rem;
   transition: 650ms ease-in;
   z-index: 0;
   box-shadow: 0 0 2rem 0.2rem rgba(0, 0, 0, 0.16);

   &.hidden {
      opacity: 0;
      transition: 650ms ease-in;
      .cta__button {
         pointer-events: none !important;
      }
   }
   &__button {
      height: auto;
      margin: auto;
      padding: 1.8rem 8%;
      font-size: 1.8rem;
      box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.46);

      color: var(--primary);
      font-weight: 600;
      border-radius: 1rem;
      border-radius: 1.5rem;

      background: var(--surface-container-lowest);

      span {
         display: none;
      }

      &:hover {
         background: var(--surface-container-low);
      }
      &:active {
         background: var(--surface-container);
      }
   }
   @include mixins.viewport-md {
      height: 12vw;
      &__button {
         border-radius: 1.125rem;
         padding: 1.2rem 2.4rem;
         font-size: 2.4vw;
         span {
            display: inline;
         }
      }
   }
   @include mixins.viewport-lg {
      height: 11vw;
      border-radius: 3vw 3vw 0 0;
      &__button {
         font-size: 2vw;
      }
   }
   @include mixins.viewport-xl {
      height: 8vw;
      &__button {
         padding: 1rem 3rem;
         border-radius: 1rem;
         font-size: 1.5vw;
      }
   }
   @include mixins.viewport-xxl {
      border-radius: 2vw 2vw 0 0;
      height: 7vw;
      &__button {
         padding: 0.8vw 3vw;
         border-radius: 1vw;
         font-size: 1.25vw;
      }
   }
}

@keyframes shake {
   0% {
      transform: rotate(250deg) scale(-1, 1);
   }
   50% {
      transform: rotate(220deg) scale(-1, 1);
   }
   100% {
      transform: rotate(250deg) scale(-1, 1);
   }
}
@keyframes shake-right {
   0% {
      transform: rotate(70deg);
   }
   50% {
      transform: rotate(96deg);
   }
   100% {
      transform: rotate(70deg);
   }
}
@keyframes rise {
   0% {
      transform: translate(50%, 100%) scale(0);
   }
   25%,
   100% {
      transform: translate(0%, 0%) scale(1);
   }
}
