@use 'mixins';

.wrapper {
   position: relative;
   text-align: center;
   display: flex;
   flex-flow: column;
   overflow: hidden;

   // background-color: var(--surface);

   // overflow-y: scroll;
   // scroll-snap-type: y mandatory;
   // -ms-scroll-snap-type: y mandatory;

   &-logo {
      width: 300px;
      height: 300px;
      display: inline-block;
      position: relative;
      margin-bottom: 3rem;

      @include mixins.viewport-md {
         width: 360px;
         height: 360px;
      }
   }

   &-logo-img {
      width: 100%;
      height: 100%;
   }
}

.toggle_theme-btn,
.top-btn {
   opacity: 0.3;
   position: absolute;
   right: 5%;
   font-size: 1.2rem;
   font-weight: 600;
   padding: 1rem;
   color: var(--primary-container);
   background-color: var(--on-primary-container);
   width: auto;
   cursor: pointer;
   border: 2px solid var(--primary-container) !important;
   transition: 0.2s ease;
   box-shadow: 3px 4px 10px -4px var(--inverse-surface);
   &:hover {
      opacity: 1;
   }
}

.toggle_theme-btn {
   top: 1%;
   right: unset;
   border-top-right-radius: 3rem;
   border-bottom-right-radius: 3rem;
   width: 3.4rem;
   min-width: 20px;
   height: 40px;
   overflow: hidden;
   white-space: nowrap;
   text-align: right;

   &:not(:hover),
   &:not(:active) {
      font-size: 1.8rem;
      padding-left: 0.2rem;
      @include mixins.viewport-xl {
         font-size: 1.4rem;
         line-height: 1.2rem;
         padding: 0rem 1rem 0.2rem 0;
      }
   }

   &::before {
      content: '@';
   }

   &::after {
      position: absolute;
      display: block;
      content: '';
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: rgba($color: #000000, $alpha: 0.15);
   }

   &:hover::after,
   &:active::after {
      display: none;
   }

   &:hover,
   &:active {
      width: 130px;
      font-size: 1.2rem;
      padding: 1rem;
      &::before {
         content: 'Switch Theme @';
      }
   }

   @include mixins.viewport-xl {
      font-size: 1rem;
      padding: 0.5rem 1rem;

      &:hover,
      &:active {
         font-size: 1.25rem;
         width: 200px;
         padding: 0.5rem 1rem;
      }
   }
}

.top-btn {
   display: none;
   position: fixed;
   bottom: 2%;
   right: 2%;
   width: fit-content;
   padding: 1rem;
   margin: 0;
   border-radius: 1rem;
   z-index: 1;

   svg {
      height: 2.2rem;
      width: auto;
      fill: var(--primary-container);
      stroke: var(--primary-container);
   }

   @include mixins.viewport-xxl {
      padding: 1rem;
      svg {
         height: 3rem;
         width: 3rem;
      }
   }
}

.colored {
   color: var(--primary-container);
}

.cta {
   display: block;
   visibility: visible;
   opacity: 1;
   position: sticky;
   bottom: 0;
   width: 100%;
   padding: 2rem 1rem;
   border-radius: 2rem 2rem 0 0;
   text-align: center;
   background: var(--primary-container);
   margin-top: -2.25rem;
   transition: 650ms ease-in;
   z-index: 0;

   &.hidden {
      opacity: 0;
      transition: 650ms ease-in;
      .cta__button {
         pointer-events: none !important;
      }
   }

   &__button {
      height: auto;
      margin: auto;
      padding: 1rem 2rem;
      font-size: 1.2rem;
      border-radius: 1rem;
      background: var(--surface-container-lowest);
      &:hover {
         background: var(--surface-container-low);
      }
      &:active {
         background: var(--surface-container);
      }
   }

   @include mixins.viewport-md {
      &__button {
         padding: 1.2rem 2.4rem;
         font-size: 1.4;
      }
   }

   @include mixins.viewport-xl {
      &__button {
         padding: 1.4rem 4rem;
         border-radius: 1rem;
      }
   }

   @include mixins.viewport-xxl {
      &__button {
         padding: 1.4rem 4rem;
         border-radius: 1rem;
         font-size: 1.625rem;
      }
   }
}

@keyframes shake {
   0% {
      transform: rotate(250deg) scale(-1, 1);
   }
   50% {
      transform: rotate(220deg) scale(-1, 1);
   }
   100% {
      transform: rotate(250deg) scale(-1, 1);
   }
}
@keyframes shake-right {
   0% {
      transform: rotate(70deg) scale(1);
   }
   50% {
      transform: rotate(96deg) scale(1);
   }
   100% {
      transform: rotate(70deg) scale(1);
   }
}

@keyframes rise {
   0% {
      transform: translate(50%, 100%) scale(0);
   }
   25%,
   100% {
      transform: translate(0%, 0%) scale(1);
   }
}
