@mixin viewport-md {
   @media (min-width: 464px) {
      @content;
   }
}
@mixin viewport-lg {
   @media (min-width: 767px) {
      @content;
   }
}
@mixin viewport-xl {
   @media (min-width: 1023px) {
      @content;
   }
}
@mixin viewport-xxl {
   @media (min-width: 1280px) {
      @content;
   }
}

@mixin text-gradient {
   background: var(--hero-name-background);
   background-clip: text;
   color: transparent;
}
