.dark {
  --md-sys-color-primary: rgb(246 188 112);
  --md-sys-color-surface-tint: rgb(246 188 112);
  --md-sys-color-on-primary: rgb(70 42 0);
  --md-sys-color-primary-container: rgb(100 63 0);
  --md-sys-color-on-primary-container: rgb(255 221 182);
  --md-sys-color-secondary: rgb(222 194 162);
  --md-sys-color-on-secondary: rgb(63 45 23);
  --md-sys-color-secondary-container: rgb(87 67 43);
  --md-sys-color-on-secondary-container: rgb(252 222 188);
  --md-sys-color-tertiary: rgb(186 205 159);
  --md-sys-color-on-tertiary: rgb(38 53 20);
  --md-sys-color-tertiary-container: rgb(60 76 40);
  --md-sys-color-on-tertiary-container: rgb(214 233 186);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(24 18 12);
  --md-sys-color-on-background: rgb(237 224 212);
  --md-sys-color-surface: rgb(24 18 12);
  --md-sys-color-on-surface: rgb(237 224 212);
  --md-sys-color-surface-variant: rgb(79 69 57);
  --md-sys-color-on-surface-variant: rgb(211 196 180);
  --md-sys-color-outline: rgb(156 142 128);
  --md-sys-color-outline-variant: rgb(79 69 57);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(237 224 212);
  --md-sys-color-inverse-on-surface: rgb(54 47 39);
  --md-sys-color-inverse-primary: rgb(129 85 18);
  --md-sys-color-primary-fixed: rgb(255 221 182);
  --md-sys-color-on-primary-fixed: rgb(42 24 0);
  --md-sys-color-primary-fixed-dim: rgb(246 188 112);
  --md-sys-color-on-primary-fixed-variant: rgb(100 63 0);
  --md-sys-color-secondary-fixed: rgb(252 222 188);
  --md-sys-color-on-secondary-fixed: rgb(39 25 5);
  --md-sys-color-secondary-fixed-dim: rgb(222 194 162);
  --md-sys-color-on-secondary-fixed-variant: rgb(87 67 43);
  --md-sys-color-tertiary-fixed: rgb(214 233 186);
  --md-sys-color-on-tertiary-fixed: rgb(17 31 3);
  --md-sys-color-tertiary-fixed-dim: rgb(186 205 159);
  --md-sys-color-on-tertiary-fixed-variant: rgb(60 76 40);
  --md-sys-color-surface-dim: rgb(24 18 12);
  --md-sys-color-surface-bright: rgb(63 56 48);
  --md-sys-color-surface-container-lowest: rgb(19 13 7);
  --md-sys-color-surface-container-low: rgb(33 26 19);
  --md-sys-color-surface-container: rgb(37 30 23);
  --md-sys-color-surface-container-high: rgb(48 41 33);
  --md-sys-color-surface-container-highest: rgb(59 51 43);
}
