.container {
}

:root {
   --shadow-white: 255, 255, 255;
   --shadow-black: 0, 0, 0;
}

.section {
   display: flex;
   align-items: stretch;
   justify-content: space-between;
   flex-flow: column wrap;
   position: relative;

   &__title {
      max-width: 88vw;
      margin: 10rem 4vw 5rem;
      font-weight: 400;
      text-transform: uppercase;

      &_title {
         font-size: 2.5rem;

         &-cursive,
         &-colored {
            font-family: 'Caveat', cursive;
            font-style: italic;
            text-transform: none;
            font-size: 5.2rem;
            line-height: 2.4rem;
            font-weight: 400;
            margin-left: 30vw;
            white-space: nowrap;
         }
         &-colored {
            color: var(--primary);
         }

         &.full-width {
         }

         &-colored.full-width {
         }
      }

      &_description {
      }
   }

   &__content {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
   }

   &__conclusion {
   }
   &__background {
   }
}

.header,
.warranty {
   position: relative;
   background-size: cover;
   background-color: var(--surface);
   background-position: center center;
   color: var(--on-tertiary);
   z-index: 0;

   &__bg-shadow {
      position: absolute;
      content: '';
      display: block;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: light-dark(rgba(var(--shadow-black), 0.4), rgba(var(--shadow-white), 0.4));
   }
}

.header {
   height: 200vw;
   min-height: 200vw;
   background-image: url('@images/background/ai-generated-8965879_1280.webp');
   background-image: url('../../assets/images/photo/IMG_8676.jpg');
   background-image: url('../../assets/images/photo/IMG_8677.jpg');
   background-image: url('../../assets/images/photo/IMG_8700.jpg');

   &__main,
   &__cta,
   &__content,
   &__info {
      display: flex;
      flex-direction: column;
      gap: 1.4rem;
      max-width: 87.5vw;
      margin: 0 auto;
   }

   &__info {
      margin-top: 3rem;
   }

   &__start-date {
      text-transform: uppercase;
   }

   &__start-date,
   &__description {
      width: 100%;
   }

   &__description {
      font-size: 3.2rem;
      line-height: 3.2rem;
      font-weight: 600;
      font-family: 'Caveat', cursive;
      color: var(--primary);
   }

   &__content {
      margin: 0 2rem 5rem;
   }

   &__main {
      gap: 1.6rem;
      margin-bottom: 3rem;
   }

   &__title {
      font-size: 1.625rem;
      text-transform: uppercase;
   }

   &__subtitle {
      font-size: 1.75rem;
      font-weight: 400;
   }

   &__button {
      padding: 1.1rem 4rem;
      border-radius: 1.125rem;
      margin: 0 2rem 0.5rem;
      color: var(--on-primary);
      background-color: var(--primary);
   }

   &__button-strike {
      text-decoration: line-through;
   }

   &__cta {
      justify-self: flex-end;
   }

   &__time-left {
      font-size: 1.75rem;
   }

   &__timer {
      font-size: 2.25rem;
   }
}

.info {
}

.button_primary {
}

.timer {
}

.benefits {
   &__list {
      display: flex;
      flex-flow: column wrap;
      gap: 1rem;
      margin-top: 3rem;
   }

   &__item {
      display: flex;
      flex-direction: column;
      gap: 3rem;

      box-shadow: 0 0 1rem 0rem var(--primary);

      text-align: left;
      background: var(--surface);
      color: var(--on-surface);
      width: 74vw;
      height: auto;

      padding: 1.4rem;
      padding-bottom: 3.75rem;
      border-radius: 2rem;
      border-top-left-radius: 0;

      left: 2rem;
      position: relative;

      &::before,
      &::after {
         display: block;
         position: absolute;
         content: '';
         left: 0;
         top: -3rem;
         width: 50%;
         height: 3rem;
      }

      &::before {
         background: var(--surface);
         border-top-left-radius: 2rem;
         border-top-right-radius: 0.8rem;
         box-shadow: 0px 1rem 0rem var(--surface), 0 0 1rem 0rem var(--primary);
      }

      &::after {
         box-sizing: border-box;
         left: calc(50% - 1rem);
         top: -2rem;
         width: 3rem;
         background: transparent;
         border-bottom-left-radius: 2rem;
         border-width: 0 0 1rem 1rem;
         border-style: solid;
         border-color: var(--surface);
      }

      &:nth-child(2n-1),
      &:nth-child(2n-1)::before {
         background: var(--primary);
         box-shadow: 0 0 1rem 0rem var(--primary);
      }

      &:nth-child(2n-1) {
         left: -2rem;
         color: var(--on-primary);
         &::after {
            border-color: var(--primary);
         }
      }
   }

   &__item-button {
      margin-left: auto;
      margin-right: 0;
      font-size: 1.4rem;

      &:hover {
         text-decoration: underline;
         opacity: 0.85;
      }

      &:active {
         opacity: 0.2;
      }
   }

   &__item-text {
   }
}

.features {
   .section__title_title-colored {
      margin-left: unset;
   }
   &__list,
   &__item {
      display: flex;
      flex-direction: column;
      gap: 3.2rem;
   }

   &__list {
   }

   &__item {
      width: 87.5vw;
      gap: 2rem;
      border-radius: 2rem;

      &-image {
         width: 100%;
         height: 50vw;
         border-radius: 2.4rem;
         overflow: hidden;

         img {
            width: 100%;
            height: 100%;
            object-fit: cover;
         }
      }

      &-text {
         span {
            font-weight: bold;
         }
      }
   }
}

.about {
   .section__content {
      gap: 3rem;
   }

   &__article {
      display: flex;
      flex-direction: column;
      gap: 3rem;

      text-align: left;
      width: 90vw;

      &__text {
         margin: 0.75rem 0;
         &::first-letter {
            text-transform: capitalize;
         }
      }

      &__picture {
         width: 100%;
         background: transparent;

         &-frame {
            display: block;
            box-sizing: border-box;
            width: 40vw;
            height: calc(40vw + 2rem);
            margin: 0;
            margin-left: 10vw;
            transform: rotate(-10deg);
            padding: 1.2rem;
            padding-bottom: 3.8rem;
            border: 1px solid var(--primary);
            background: var(--surface-container-lowest);
         }

         img {
            width: 100%;
            height: 100%;
            object-fit: cover;
         }
      }

      &:last-child &__picture-frame {
         margin-top: -20%;
         margin-left: auto;
         margin-right: 10vw;
         transform: rotate(10deg);
      }
   }

   &__article-content {
      ul {
         padding-top: 0.2rem;
         padding-left: 2.4rem;
      }

      li {
         list-style-type: none;
         padding-inline-start: 1ch;
         position: relative;

         .ico {
            display: block;
            position: absolute;
            content: url('@images/icons/symbol-svgrepo.svg');
            top: 0.8rem;
            left: -2.4rem;
            width: 2rem;
            height: 2rem;
         }
      }
   }
}

.colored {
}

.testimonials,
.description,
.results {
   &__content {
      ul,
      li {
         display: flex;
         flex-direction: column;
      }

      li {
         width: 90vw;
         height: 45vw;
         border-radius: 1.8rem;
         align-items: center;
         padding: 1rem 1rem 2.4rem;
         color: var(--on-primary);
         background: var(--primary);
         position: relative;
         z-index: 0;

         &::before {
            display: block;
            position: absolute;
            min-width: 100%;
            min-height: 100%;
            content: '';
            top: 0;
            left: 0;
            border-radius: 1.8rem;
            background: linear-gradient(0deg, rgba(var(--shadow-black), 0.1) 0%, rgba(var(--shadow-white), 0) 100%);
            z-index: -1;
         }
      }

      &-marker {
         font-weight: 400;
         font-size: 2.6rem;
         margin: 0;
         font-family: 'Caveat', cursive;
         font-style: normal;
         text-transform: none;
         justify-self: flex-start;
      }

      &-text {
         justify-self: center;
         margin: auto 0;
         &::first-letter {
            text-transform: capitalize;
         }
      }
   }
}

.results {
   .section__title:first-of-type {
      margin-top: 0;
   }

   .roadmap {
      margin-bottom: 0;

      &__list {
         margin: 10rem 10vw 0;
         display: flex;
         flex-flow: column wrap;
         gap: 0;
      }

      &__item {
         height: auto;
         min-height: 14rem;
         padding: 3rem 0.5rem;
         display: flex;
         text-align: left;
         align-items: center;
         font-weight: 400;
         text-transform: none;
         position: relative;

         &::after,
         &:first-child p::before,
         &::before {
            display: block;
            position: absolute;
            content: '';
            width: 2rem;
            height: 2rem;
            background: var(--primary);
            border-radius: 50%;
            left: 47.5%;
            top: -1.1rem;
         }

         &:first-child p::before,
         &::after {
            top: -2px;
            right: -15%;
            background: transparent;
            width: 70%;
            height: calc(100% + 2px);
            border: 2px dashed var(--primary);
            border-radius: 0 50% 50% 0;
            border-left: 2px solid transparent;
         }

         &:first-child p::before,
         &:nth-child(2n)::after {
            transform: rotate(180deg);
            left: -15%;
         }

         &:first-child p::before,
         &:last-child::after {
            border-top: 2px solid transparent;
            border-right: 2px solid transparent;
            border-bottom-right-radius: 150%;
         }

         &:first-child p::before {
            transform: scale(-1, 1);
            top: calc(-100% - 1px);
         }
      }
   }
}

.description {
   background-color: var(--primary);
   border-radius: 4rem;
   margin-top: 5rem;
   padding: 7.5rem 0;

   .section__title {
      margin-top: 0rem;
      color: var(--on-primary);

      &_title {
         margin-left: -20vw;
      }
   }

   &__conclusion {
      &-list {
         color: var(--on-primary);
         display: flex;
         flex-direction: column;
         gap: 1.6rem;
         width: 87.5vw;
         margin: 3rem auto;
         padding-left: 2rem;
      }

      &-item {
         position: relative;
         padding-inline-start: 3rem;

         &::before {
            position: absolute;
            left: -2rem;
            content: url('@images/icons/add-plus-svgrepo-com-2.svg');
            width: 3.75rem;
            height: 3.75rem;
            transform: rotate(-4deg);
         }
      }

      &-gift {
         position: absolute;
         right: -1rem;
         bottom: -2rem;
         content: url('@images/pictures/blue-gift-3.png');
         width: 8rem;
         height: 8rem;
         transform: rotate(10deg);

         img {
            width: 100%;
            height: 100%;
            object-fit: fill;
         }
      }
   }
}

.testimonials,
.description {
   &__content {
      ul {
         gap: 1rem;
      }

      li {
         color: var(--primary);
         background: var(--on-primary);
         border-radius: 3.6rem;
         min-height: 65vw;
         height: auto;
         padding: 2rem;
         gap: 2rem;

         &::before {
            display: none;
         }

         & > div {
            width: 100%;
            height: 40vw;
            border: 0.5rem solid var(--primary);
            border-radius: 2rem;
            position: relative;
            box-shadow: 0rem -2rem 2.4rem -1rem rgba(var(--shadow-black), 0.3) inset;

            img {
               position: absolute;
               left: 0;
               top: 0;
               width: 100%;
               height: 100%;
               object-fit: cover;
               border-radius: 2rem;
               z-index: -1;
            }
         }
      }

      &-marker {
         font-family: 'Montserrat', sans-serif;
         font-weight: 600;
         font-size: 2rem;
         margin: 0;
         margin-left: auto;
         font-style: normal;
      }

      &-text {
         text-align: left;
         justify-self: flex-start;
         align-self: flex-start;
      }
   }
}

.testimonials {
   padding-bottom: 10rem;
   background: var(--surface-container-highest);
   background: linear-gradient(
      0deg,
      rgba(0, 255, 235, 0) 0%,
      var(--surface-container-highest) 25%,
      var(--surface-container-highest) 75%,
      rgba(0, 255, 235, 0) 100%
   );

   li {
      background-color: var(--surface-container-lowest);
      min-height: 40vw;
      border-radius: 2rem;
      justify-content: stretch;
      align-items: flex-start;
   }

   &__content {
      &-text {
         font-weight: 400;

         &:first-of-type {
            font-weight: 600;
         }

         span {
            background-color: aqua;
            background-color: var(--surface-container-high);
         }
      }

      li {
         height: auto;

         div {
            min-height: 200px;
            height: auto;
            border-color: var(--tertiary-container);
         }

         div img {
            position: static;
            width: 100%;
            height: 100%;
            border-radius: 2rem;
         }

         &:nth-child(2n) > div {
            border-color: var(--secondary-container);
         }
      }
   }
}

.warranty {
   height: 180vw;
   min-height: 180vw;
   background-image: url('@images/background/ai-generated-9007118_640.webp');
   padding-bottom: 4rem;

   &__bg-shadow {
      background: light-dark(rgba(var(--shadow-black), 0.4), rgba(var(--shadow-white), 0.4));
   }

   &__info,
   &__content {
      display: flex;
      flex-direction: column;
      gap: 1.4rem;
      margin: 3rem auto;
      max-width: 87.5vw;
   }

   &__label {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 7rem;
      width: 22rem;
      background: var(--primary);
      margin: -5rem auto 5rem;
      transform: rotate(-4deg);
      text-transform: uppercase;
      border: 1px dashed var(--on-primary);
      box-shadow: 0 0 0 1rem var(--primary);
   }
}

.questions {
   &__list {
      max-width: 87.5vw;
   }

   &__item {
      text-align: left;
      padding: 2rem;
      border-radius: 4rem;
      width: 100%;
      height: fit-content;
      color: var(--on-primary);
      background: var(--primary);
      margin-bottom: 1.2rem;
   }

   &__dropdown {
      &-toggle {
         display: flex;
         flex-direction: row-reverse;
         align-items: center;
         justify-content: space-between;
      }

      &-element {
         height: auto;
         max-height: 0;
         overflow: hidden;
         transition: all 650ms;
      }

      &.active {
         .questions__expand {
            transform: rotate(90deg);
         }

         .questions__dropdown-element {
            max-height: 500px;
            visibility: visible;
         }
      }
   }

   &__expand {
      display: block;
      width: 5rem;
      height: 5rem;
      transition: 200ms;

      > svg {
         width: 100%;
         height: 100%;
         stroke: var(--on-primary);
      }
   }

   &__title,
   &__text {
      max-width: 80%;
      &::first-letter {
         text-transform: capitalize;
      }
   }
   &__text {
      max-width: 87%;
      font-size: 1.375rem;
   }
}

.footer {
   margin-top: 10rem;
   padding: 7.25rem 7vw 2rem;
   display: grid;
   grid-template-columns: 1fr;
   grid-gap: 2.4rem;
   text-align: left;
   background: var(--primary);
   border-radius: 4rem 4rem 0 0;
   color: var(--on-primary);

   &__contacts,
   &__info {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
   }

   &__link {
      margin: 0;
      line-height: 1.5rem;
      &:hover {
         text-decoration: underline;
      }
   }
   &__label {
      font-weight: 600;
      margin-bottom: 0.25rem;
   }

   &__copyright {
      margin-top: 3rem;
      text-align: center;
   }
}
